.text-monospace {
  font-family: monospace;
}

.label-btn {
  margin: 0;
}

a.link-like:not([href]):not([tabindex]) {
  color: blue;
  cursor: pointer;
}

#top-container {
  max-width: 100%;
  padding: 1rem 2rem;
}

#generations-jumbotron {
  padding: 2rem 0;
}

#generations-carousel {
  margin-left: 60px;
  margin-right: 60px;
}

.carousel-control-prev {
  width: 50px;
  margin-left: -50px;
}

.carousel-control-next {
  width: 50px;
  margin-right: -50px;
}

td.individual-index {
  text-align: center;
}

td.individual {
  display: flex;
  align-items: center;
}

table.codon td {
  padding: 2px;
  border: 1px solid black;
}

table.chromosome-details {
  display: inline-block;
  margin: 5px;
}

table.chromosome-details tr.new-action-row {
  font-weight: bold;
  text-decoration: underline;
}

table.chromosome-details td,
table.chromosome-details th {
  padding: 1px 5px 1px 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
}

table.chromosome-details td.property-cell {
  background-color: #ddd;
  font-weight: bold;
}

table.chromosome-details td.sub-property-cell {
  background-color: #ddd;
}

table.chromosome-details td.in-cell {
  background-color: #fff;
  font-weight: bold;
}

table.chromosome-details td.out-cell {
  background-color: #cdfece;
}

.mutatedCodon {
  color: blue;
  font-weight: bold;
}

.tooltip-inner {
  max-width: 550px;
}

.archetype {
  font-weight: bold;
  text-decoration: underline;
  border: 8px solid fuchsia;
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
}
