.text-monospace {
  font-family: monospace;
}

.label-btn {
  margin: 0;
}

#generations-carousel {
  margin-left: 80px;
  margin-right: 80px;
}

.carousel-control-prev {
  width: 50px;
  margin-left: -50px;
}

.carousel-control-next {
  width: 50px;
  margin-right: -50px;
}

table.codon td {
  padding: 2px;
  border: 1px solid black;
}

.mutatedCodon {
  color: blue;
  font-weight: bold;
}

.tooltip-inner {
  max-width: 550px;
}

.archetype {
  background-color: fuchsia;
}
